---
import BaseLayout from '../layouts/BaseLayout.astro';
import Heading from '../components/Heading.astro';
---

<BaseLayout title="Ken Chase - Canadian web designer, photographer, and musician">
  <section id="about" class="region region--lg region--inverted-light region-about">
    <div class="wrapper">
      <div class="grid" data-layout="50-50">
        <Heading tag="h2" size="h2">About</Heading>
        <div class="content flow prose">
          <p>I'm a Canadian web designer, creative photographer, and musician based in Ottawa, Ontario. I'm fluent in both English and French. I once ran away to spend a couple of years in the Caribbean.</p>
          <p>I'm someone who thinks the best adventures happen on foot while the best ideas come from slowing down and paying attention.</p>
          <p>I'm both a night owl and a morning person—a contradiction that I somehow make work. Naps happens!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="web-design" class="region region--lg region-web-design">
    <div class="wrapper">
      <div class="grid" data-layout="50-50">
        <Heading tag="h2" size="h2">Web Design</Heading>
        <div class="content flow prose">
          <p>I help people grow their ideas and businesses by creating well-crafted websites that are beautiful, useable, and accessible.</p>
          <p>I'm someone who can take a project from initial concept all the way through launch. I can also collaborate seamlessly with existing teams: I know how to fit in.</p>
          <p>My design philosophy is simple: I craft high quality, user-centred experiences that gets results.</p>
          <a href="https://www.linkedin.com/in/ken-chase/" class="btn btn--link repel"><span>Browse my LinkedIn profile</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
        </div>
      </div>
    </div>
  </section>

  <section id="photography" class="region region--lg region-photography">
    <div class="wrapper">
      <div class="grid" data-layout="50-50">
        <Heading tag="h2" size="h2">Photography</Heading>
        <div class="content flow prose">
          <p>I strive to create cinematic street photography that captures how I view the world. My work was initially heavily influenced by film noir, but over time it's taking on a life of its own. I've also embraced colour.</p>
          <p>Walking gives me the time to see what others sometimes miss—the atmosphere, the mood, the textures, the unfolding stories. There's a lot to see out there when you choose to look.</p>
          <p>My photos are little love letters to the cities I walk.</p>
          <a href="https://www.instagram.com/therealkenchase/" class="btn btn--link repel"><span>Explore my photography</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
        </div>
      </div>
    </div>
  </section>

  <section id="music" class="region region--lg region-music">
    <div class="wrapper">
      <div class="grid" data-layout="50-50">
        <Heading tag="h2" size="h2">Music</Heading>
        <div class="content flow prose">
          <p>I turn overheard conversations into songs—those random snippets of life that catch my ear while walking around the city, sitting in cafes, restaurants, and bars.</p>
          <p>My music ranges from experimental electronic sounds to bedroom rock, but I like to think of it all as <span class="dotted-border">apartment songs</span></p>
          <p>I write, record, and produce from my home studio. Surrounded by the instruments I adore.</p>
          <a href="https://soundcloud.com/therealkenchase/" class="btn btn--link repel"><span>Sample my music</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="region region--lg region-contact">
    <div class="wrapper">
      <div class="grid" data-layout="50-50">
        <Heading tag="h2" size="h2">Contact</Heading>
        <div class="content flow prose">
          <p>If you would like to get in touch with me, please feel free to reach out via email at <a href="mailto:hello@kenchase.com">hello@kenchase.com</a></p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
