/* SASS variables for global styles */
$breakpoint-min: 330px;
$breakpoint-md: 760px;
$breakpoint-large: 960px;
$breakpoint-max: 1350px;

:root {
  --font-book: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --wrapper-max-width: 1360px;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1440,24,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --size-step--2: clamp(0.7813rem, 0.7302rem + 0.2554vw, 0.96rem);
  --size-step--1: clamp(0.9375rem, 0.8625rem + 0.375vw, 1.2rem);
  --size-step-0: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  --size-step-1: clamp(1.35rem, 1.2rem + 0.75vw, 1.875rem);
  --size-step-2: clamp(1.62rem, 1.4132rem + 1.0339vw, 2.3438rem);
  --size-step-3: clamp(1.944rem, 1.6624rem + 1.4081vw, 2.9297rem);
  --size-step-4: clamp(2.3328rem, 1.953rem + 1.899vw, 3.6621rem);
  --size-step-5: clamp(2.7994rem, 2.2913rem + 2.5404vw, 4.5776rem);
  --size-step-6: clamp(3.3592rem, 2.6841rem + 3.3754vw, 5.722rem);
  --size-step-7: clamp(4.0311rem, 3.1392rem + 4.4593vw, 7.1526rem);
  --size-step-8: clamp(4.8373rem, 3.6649rem + 5.862vw, 8.9407rem);
  --size-step-9: clamp(5.8048rem, 4.2701rem + 7.673vw, 11.1759rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1440,24,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.2946rem + 0.0893vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  --space-s: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.5268rem + 0.8036vw, 2.25rem);
  --space-l: clamp(2.25rem, 2.0357rem + 1.0714vw, 3rem);
  --space-xl: clamp(3.375rem, 3.0536rem + 1.6071vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 4.0714rem + 2.1429vw, 6rem);
  --space-3xl: clamp(6.75rem, 6.1071rem + 3.2143vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1875rem + 0.625vw, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4018rem + 0.8036vw, 1.125rem);
  --space-xs-s: clamp(0.875rem, 0.6964rem + 0.8929vw, 1.5rem);
  --space-s-m: clamp(1.125rem, 0.8036rem + 1.6071vw, 2.25rem);
  --space-m-l: clamp(1.6875rem, 1.3125rem + 1.875vw, 3rem);
  --space-l-xl: clamp(2.25rem, 1.6071rem + 3.2143vw, 4.5rem);
  --space-xl-2xl: clamp(3.375rem, 2.625rem + 3.75vw, 6rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2143rem + 6.4286vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5893rem + 2.6786vw, 3rem);
}

:root {
  /* Brand colours */
  --color-primary-500: #d94929;
  --color-secondary-010: #fbfbfb;
  --color-secondary-020: #f8f8f7;
  --color-secondary-030: #f4f4f2;
  --color-secondary-040: #f1f1ee;
  --color-secondary-100: #ededea;
  --color-secondary-500: #a7a498;
  --color-tertiary-500: #2f3028;

  /* Neutral colours */
  --color-neutral-000: #fff;
  --color-neutral-900: #2f2f2f;
  --Color-neutral-1000: #000;

  /* Status colours */
  --color-red-500: #ef4444;
  --color-green-500: #22c55e;
  --color-amber-500: #f59e0b;
}

:root {
  /* Semantic Properties */

  /* Text colors */
  --color-text: var(--color-tertiary-500);
  --color-text-inverse: var(--color-secondary-010);
  --color-text-brand: var(--color-primary-500);

  /* Background colors */
  --color-bg: var(--color-secondary-010);
  --color-bg-inverse: var(--color-neutral-900);
  --color-bg-brand: var(--color-primary-500);
  --color-bg-light: var(--color-secondary-100);

  /* Typography */
  --font-base: 'FreightText Pro Book', serif;
  // --font-base: 'itc-avant-garde-gothic-pro', sans-serif;
  --font-headings: 'itc-avant-garde-gothic-pro', sans-serif;
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2;
  --leading-standard: 1.4;
  --leading-loose: 1.7;
  --uppercase-kerning: 0.04ch;

  /* Spacing */
  --gutter: var(--space-m-l);

  /* Transitions */
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

  /* Strokes */
  --stroke: 1px dashed var(--color-secondary-500);
  --stroke-solid: 1px solid var(--color-secondary-500);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
}
