---
const { title } = Astro.props;
import '../css/main.scss';
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WS42R2C');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="https://use.typekit.net/rmb0ahl.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Ken Chase - Canadian web designer, creative photographer, and musician based in Ottawa. Bilingual creative who believes the best adventures happen on foot and the best ideas come from paying attention." />
    <title>{title}</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS42R2C" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header">
      <div class="region region-masthead">
        <div class="wrapper">
          <div class="masthead flow">
            <h1 class="masthead__heading visually-hidden">Ken Chase</h1>
            <svg aria-hidden="true" viewBox="0 0 754 126" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M83.64 123.328H68.388L27.88 70.684L12.136 90.036V123.328H0V1.968H12.136V71.668H12.464L68.06 1.968H83.64L35.588 61.172L83.64 123.328Z" fill="white"></path>
              <path d="M170.196 82.656H88.5241C89.5081 100.532 105.908 115.128 123.292 115.128C137.232 115.128 150.516 107.092 155.436 93.972H167.572C160.684 113.324 142.644 125.46 123.456 125.46C98.0361 125.46 76.7161 104.796 76.7161 78.556C76.7161 52.48 98.2001 31.324 123.292 31.324C150.188 31.324 170.36 54.448 170.36 79.212C170.36 80.36 170.196 81.508 170.196 82.656ZM88.5241 72.324H158.552C155.272 54.284 141.004 41.656 123.292 41.656C106.564 41.656 91.6401 53.792 88.5241 72.324Z" fill="white"></path>
              <path d="M260.132 123.328H248.652V73.308C248.652 53.136 236.516 41.656 220.772 41.656C203.388 41.656 192.728 54.94 192.728 72.488V123.328H181.248V33.62H192.728V45.1H193.056C198.796 36.408 208.964 31.324 220.608 31.324C245.372 31.324 260.132 48.38 260.132 73.308V123.328Z" fill="white"></path>
              <path d="M383.518 91.512H397.13C385.322 112.668 364.166 125.46 341.206 125.46C306.602 125.46 277.738 98.072 277.738 62.812C277.738 27.224 306.11 0 341.042 0C363.51 0 386.962 12.956 396.638 33.128H383.026C373.678 19.188 357.278 10.988 340.878 10.988C313.818 10.988 289.874 34.932 289.874 62.976C289.874 90.2 313.818 114.472 341.042 114.472C357.606 114.472 372.53 106.108 383.518 91.512Z" fill="white"></path>
              <path d="M486.588 123.328H475.108V73.308C475.108 53.136 462.972 41.656 447.228 41.656C429.844 41.656 419.184 54.94 419.184 72.488V123.328H407.704V1.968H419.184V45.1H419.512C425.252 36.408 435.42 31.324 447.064 31.324C471.828 31.324 486.588 48.38 486.588 73.308V123.328Z" fill="white"></path>
              <path d="M592.918 123.328H581.438V107.584H581.11C573.73 118.736 560.774 125.46 546.178 125.46C519.282 125.46 497.962 105.124 497.962 78.228C497.962 51.332 519.938 31.324 546.178 31.324C561.102 31.324 573.894 38.048 581.11 49.364H581.438V33.62H592.918V123.328ZM546.178 115.128C566.186 115.128 582.094 98.728 582.094 78.556C582.094 58.548 566.35 41.656 546.014 41.656C525.35 41.656 509.442 57.4 509.442 78.72C509.442 99.384 525.022 115.128 546.178 115.128Z" fill="white"></path>
              <path d="M653.043 55.76H641.563C640.907 47.068 635.495 41.656 628.115 41.656C620.571 41.656 614.503 47.396 614.503 55.104C614.503 61.664 619.095 66.256 630.083 69.864C651.895 77.08 656.159 85.772 656.159 98.564C656.159 114.964 645.171 125.46 627.951 125.46C612.535 125.46 600.399 114.472 600.399 97.416V96.76H611.879C612.043 108.732 618.275 115.128 627.951 115.128C638.283 115.128 644.679 109.388 644.679 99.056C644.679 90.364 639.103 85.608 628.771 81.836C613.027 76.096 603.023 71.668 603.023 56.252C603.023 41.82 613.847 31.324 628.607 31.324C642.055 31.324 653.043 41.492 653.043 55.76Z" fill="white"></path>
              <path d="M753.197 82.656H671.525C672.509 100.532 688.909 115.128 706.293 115.128C720.233 115.128 733.517 107.092 738.437 93.972H750.573C743.685 113.324 725.645 125.46 706.457 125.46C681.037 125.46 659.717 104.796 659.717 78.556C659.717 52.48 681.201 31.324 706.293 31.324C733.189 31.324 753.361 54.448 753.361 79.212C753.361 80.36 753.197 81.508 753.197 82.656ZM671.525 72.324H741.553C738.273 54.284 724.005 41.656 706.293 41.656C689.565 41.656 674.641 53.792 671.525 72.324Z" fill="white"></path>
            </svg>
            <p class="masthead__tagline">Canadian web designer, photographer, and musician</p>
          </div>
        </div>
      </div>
      <div class="region region-nav">
        <div class="wrapper">
          <nav aria-label="primary" class="nav-primary">
            <ul role="list" class="cluster nav-primary__list">
              <li><a href="#about">About</a></li>
              <li><a href="#web-design">Web Design</a></li>
              <li><a href="#photography">Photography</a></li>
              <li><a href="#music">Music</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">
      <section id="about" class="region region--lg region--inverted-light region-about">
        <div class="wrapper">
          <div class="grid" data-layout="50-50">
            <h2>About</h2>
            <div class="content flow prose">
              <p>I'm a Canadian web designer, creative photographer, and musician based in Ottawa, Ontario. I'm fluent in both English and French. I once ran away to spend a couple of years in the Caribbean.</p>
              <p>I'm someone who thinks the best adventures happen on foot while the best ideas come from slowing down and paying attention.</p>
              <p>I'm both a night owl and a morning person—a contradiction that I somehow make work. Naps happens!</p>
            </div>
          </div>
        </div>
      </section>
      <section id="web-design" class="region region--lg region-web-design">
        <div class="wrapper">
          <div class="grid" data-layout="50-50">
            <h2>Web Design</h2>
            <div class="content flow prose">
              <p>I help people grow their ideas and businesses by creating well-crafted websites that are beautiful, useable, and accessible.</p>
              <p>I'm someone who can take a project from initial concept all the way through launch. I can also collaborate seamlessly with existing teams: I know how to fit in.</p>
              <p>My design philosophy is simple: I craft high quality, user-centered experiences that gets results.</p>
              <a href="https://www.linkedin.com/in/ken-chase/" class="btn btn--link repel"><span>Browse my LinkedIn profile</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
            </div>
          </div>
        </div>
      </section>
      <section id="photography" class="region region--lg region-photography">
        <div class="wrapper">
          <div class="grid" data-layout="50-50">
            <h2>Photography</h2>
            <div class="content flow prose">
              <p>I strive to create cinematic street photography that captures how I view the world. My work was initially heavily influenced by film noir, but over time it's taking on a life of its own. I've also embraced colour.</p>
              <p>Walking gives me the time to see what others sometimes miss—the atmosphere, the mood, the textures, the unfolding stories. There's a lot to see out there when you choose to look.</p>
              <p>My photos are little love letters to the cities I walk.</p>
              <a href="https://www.instagram.com/therealkenchase/" class="btn btn--link repel"><span>Explore my photography</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
            </div>
          </div>
        </div>
      </section>
      <section id="music" class="region region--lg region-music">
        <div class="wrapper">
          <div class="grid" data-layout="50-50">
            <h2>Music</h2>
            <div class="content flow prose">
              <p>I turn overheard conversations into songs—those random snippets of life that catch my ear while walking around the city, sitting in cafes, restaurants, and bars.</p>
              <p>My music ranges from experimental electronic sounds to bedroom rock, but I like to think of it all as <span class="dotted-border">apartment songs</span></p>
              <p>I write, record, and produce from my home studio. Surrounded by the instruments I adore.</p>
              <a href="https://soundcloud.com/therealkenchase/" class="btn btn--link repel"><span>Sample my music</span><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path></svg></a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <section id="contact" class="region region--lg region-contact">
      <div class="wrapper">
        <div class="grid" data-layout="50-50">
          <h2>Contact</h2>
          <div class="content flow prose">
            <p>If you would like to get in touch with me, please feel free to reach out via email at <a href="mailto:hello@kenchase.com">hello@kenchase.com</a></p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="region region--inverted region--lg region-footer">
      <div class="wrapper repel">
        <p>&copy; {new Date().getFullYear()} Ken Chase. All rights reserved.</p>
        <nav aria-label="social" class="nav-social">
          <ul role="list" class="cluster">
            <li><a href="https://www.linkedin.com/in/ken-chase/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/therealkenchase/">Instagram</a></li>
            <li><a href="https://bsky.app/profile/therealkenchase.bsky.social">Bluesky</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</html>
